body {
    background-color: rgb(231, 239, 239);
}

.logo {
    background-color: rgb(224, 233, 224);
    border-radius: 15px;
}


.category-container {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.category-btn {
    background-color: rgb(224, 233, 224);
}


.thumbnail {
    height: 265px;
    width: 290px;
}



.author-img {
    height: 30px;
    width: 30px;
    border-radius: 20px;

}

.details-btn {
    background-color: rgb(224, 233, 224);
}


.default-text {
    margin: 12%;
}